<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="Général">

    <setting label="Usager" type="text"   id="username" enable="!eq(-1,)" default=""/>
    <setting label="Mot de passe" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    
    <setting type="sep" />
    <setting label="Reprendre la position de lecture" type="bool" id="resume" default="true"/>
    <setting label="Activer déboggage" type="bool" id="debug" default="false"/>

    </category>
</settings>
