<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30011">

    <setting label="30012" type="text"   id="username" enable="!eq(-1,)" default=""/>
    <setting label="30013" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    
    <setting type="sep" />
    <setting label="30014" type="bool" id="resume" default="true"/>
    <setting label="30015" type="bool" id="debug" default="false"/>

    </category>
</settings>
